.marker-sensor {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 255, 242, 0.528);
  border: 1px solid rgb(76, 246, 192);
  border-radius: 50%;
  backdrop-filter: blur(2px);
}

.marker-sensor:before,
.marker-sensor:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background-color: rgba(0, 255, 242, 0.106);
  border-radius: 50%;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}

.marker-sensor-rotate {
  width: 10px;
  height: 10px;
  background-color: rgb(76, 246, 192);
  left: 50%;
  top: 50%;
  translate:
    -50%,
    -50%;
  border-radius: 50%;
  position: absolute;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: translate(-0%, -0%) rotate(0deg);
    -webkit-transform: translate(-0%, -0%) rotate(0deg);
    -moz-transform: translate(-0%, -0%) rotate(0deg);
    -ms-transform: translate(-0%, -0%) rotate(0deg);
    -o-transform: translate(-0%, -0%) rotate(0deg);
    scale: 1;
    opacity: 0;
  }
  100% {
    transform: translate(-10%, -50%) rotate(360deg);
    -webkit-transform: translate(-10%, -50%) rotate(360deg);
    -moz-transform: translate(-10%, -50%) rotate(360deg);
    -ms-transform: translate(-10%, -50%) rotate(360deg);
    -o-transform: translate(-10%, -50%) rotate(360deg);
    scale: 5;
    opacity: 100;
    -webkit-scale: 5;
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.2);
    -moz-transform: translate(-50%, -50%) scale(0.2);
    -ms-transform: translate(-50%, -50%) scale(0.2);
    -o-transform: translate(-50%, -50%) scale(0.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(5);
    -moz-transform: translate(-50%, -50%) scale(5);
    -ms-transform: translate(-50%, -50%) scale(5);
    -o-transform: translate(-50%, -50%) scale(5);
    border: 1px solid rgba(0, 255, 242, 0.106);
  }
}

.marker-sismo {
  background-color: rgb(255, 225, 0);
  border-radius: 50%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.marker-sismo:before,
.marker-sismo:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 191, 0, 0.291);
  border-radius: 50%;
  animation: latidos 2s infinite;
  -webkit-animation: latidos 2s infinite;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@keyframes latidos {
  0% {
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  100% {
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}
